<footer class="page-footer orange darken-3">
    <div class="container">
      <div class="row">
      
          <h5 class="white-text">Aose project</h5>
                          
                <div class="row white-tex">
                    <br>
                    <div class="col s12 m4 l2 center-align">Django</div>
                    <div class="col s12 m4 l8 center-align">Html</div>
                    <div class="col s12 m4 l2 center-align">Css</div>
                </div>

      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright 
        </div>
    </div>
</footer>